In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from numpy import arange
import math

import seaborn as sns
sns.set_style("white")

import scipy as sp
from scipy import linalg, optimize

import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std

import collections
from collections import Counter

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.path as mpath
from matplotlib.dates import DateFormatter

import calendar
import datetime as dt
fromtimestamp = dt.datetime.fromtimestamp

In [3]:
# review ufo df
ufo = pd.read_csv('../data/ufo_clean.csv', index_col = 0)
ufo = ufo.rename(columns={'index':'ufo_id_num'})
ufo['ufo_id_num'] += 1
ufo.head(1)

,ufo_id_num,year_week,date_of_sight,year,month,week_of_year,state,city,sight_summary,ufo_shape
0,1,2006-52,2006-01-01,2006,1,52,NY,I-80 (unknown city proximity),"Traveling from Brooklyn, NY to Groton, NY on I...",Formation

In [3]:
# empty storages for google df data
googledfs = []
googledfnames = []
googledfdict = dict(zip(googledfnames,googledfs))

In [4]:
# trump import, rename, sorting, assign topic
trump = pd.read_csv('../Data/Raw/Trump.csv',header=1).sort_values('Week').rename(columns={'Donald Trump: (United States)':'rel_val'})
trump['topic']="trump"
googledfs.append(trump)
googledfnames.append('trump')
trump.head(1)

         Week  rel_val  topic
0  2016-05-01       14  trump

In [5]:
# obama import, rename, sorting, assign topic
obama = pd.read_csv('../Data/Raw/Obama.csv',header=1).sort_values('Week').rename(columns={'Barack Obama: (United States)':'rel_val'})
obama['topic']="obama"
googledfs.append(obama)
googledfnames.append('obama')
obama.head(1)

         Week  rel_val  topic
0  2008-05-04        9  obama

In [6]:
# kremlin  import, rename, sorting, assign topic
kremlin =  pd.read_csv('../Data/Raw/Kremlin.csv',header=1).sort_values('Week').rename(columns={'Kremlin: (United States)':'rel_val'})
kremlin['topic']="kremlin"
googledfs.append(kremlin)
googledfnames.append('kremlin')
kremlin.head(1)

         Week  rel_val    topic
0  2014-01-05        0  kremlin

In [7]:
# ebola import, rename, sorting, assign topic
ebola =  pd.read_csv('../Data/Raw/Ebola.csv',header=1).sort_values('Week').rename(columns={'Ebola: (United States)':'rel_val'})
ebola['topic']="ebola"
googledfs.append(ebola)
googledfnames.append('ebola')
ebola.head(1)

         Week rel_val  topic
0  2014-04-06       1  ebola

In [8]:
# corona import, rename, sorting, assign topic
corona =  pd.read_csv('../Data/Raw/Corona.csv',header=1).sort_values('Week').rename(columns={'Coronavirus: (United States)':'rel_val'})
corona['topic']="corona"
googledfnames.append('corona')
googledfs.append(corona)
corona.head(1)

         Week rel_val   topic
0  2019-09-01      <1  corona

In [9]:
# import arab spring, rename, sort, assign topic
arab = (pd.read_csv('../Data/Raw/arabs_2010_2011_googlesearch.csv')
        .rename(columns={'arab spring':'rel_val' ,'date' : 'Week'})
        .sort_values('Week'))
arab = arab.drop(['isPartial'], axis = 1)
arab['topic']="arab_spring"
googledfs.append(arab)
googledfnames.append('arab')
arab.head(1)

         Week  rel_val        topic
0  2010-01-10        0  arab_spring

In [10]:
# import boston marathon, rename, sort, assign topic
boston = (pd.read_csv('../Data/Raw/boston_marathon_weeks2013_googlesearch.csv')
            .rename(columns={'boston marathon bombings':'rel_val' ,'date' : 'Week'})
             .sort_values('Week'))
boston = boston.drop(['isPartial'], axis = 1)
boston['topic']="boston"
googledfs.append(boston)
googledfnames.append('boston')
boston.head(1)

         Week  rel_val   topic
0  2013-01-06        0  boston

In [11]:
# import financial crisis, rename, sort, assign topic
fcrisis = (pd.read_csv('../Data/Raw/fcrisis_weeks2008_googlesearch.csv')
           .rename(columns={'financial crisis':'rel_val' ,'date' : 'Week'})
           .sort_values('Week'))
fcrisis = fcrisis.drop(['isPartial'], axis = 1)
fcrisis['topic']="fcrisis"
googledfs.append(fcrisis)
googledfnames.append('fcrisis')
fcrisis.head(1)

         Week  rel_val    topic
0  2008-01-06        1  fcrisis

In [12]:
googledfs

[          Week  rel_val  topic
 0   2016-05-01       14  trump
 1   2016-05-08        9  trump
 2   2016-05-15        8  trump
 3   2016-05-22        8  trump
 4   2016-05-29        8  trump
 5   2016-06-05       10  trump
 6   2016-06-12       11  trump
 7   2016-06-19        9  trump
 8   2016-06-26        7  trump
 9   2016-07-03        8  trump
 10  2016-07-10       10  trump
 11  2016-07-17       24  trump
 12  2016-07-24       19  trump
 13  2016-07-31       19  trump
 14  2016-08-07       13  trump
 15  2016-08-14       12  trump
 16  2016-08-21       10  trump
 17  2016-08-28       11  trump
 18  2016-09-04       10  trump
 19  2016-09-11       11  trump
 20  2016-09-18       10  trump
 21  2016-09-25       22  trump
 22  2016-10-02       23  trump
 23  2016-10-09       39  trump
 24  2016-10-16       27  trump
 25  2016-10-23       21  trump
 26  2016-10-30       23  trump
 27  2016-11-06      100  trump
 28  2016-11-13       35  trump
 29  2016-11-20       19  trump
 30  2016-11-27       15  trump
 31  2016-12-04       13  trump
 32  2016-12-11       13  trump
 33  2016-12-18       12  trump
 34  2016-12-25        9  trump
 35  2017-01-01       11  trump
 36  2017-01-08       22  trump
 37  2017-01-15       44  trump
 38  2017-01-22       43  trump
 39  2017-01-29       39  trump
 40  2017-02-05       24  trump
 41  2017-02-12       24  trump
 42  2017-02-19       18  trump
 43  2017-02-26       18  trump
 44  2017-03-05       14  trump
 45  2017-03-12       15  trump
 46  2017-03-19       15  trump
 47  2017-03-26       12  trump
 48  2017-04-02       13  trump
 49  2017-04-09       11  trump
 50  2017-04-16        9  trump
 51  2017-04-23       10  trump
 52  2017-04-30       11  trump,
           Week  rel_val  topic
 0   2008-05-04        9  obama
 1   2008-05-11        9  obama
 2   2008-05-18        8  obama
 3   2008-05-25        7  obama
 4   2008-06-01       15  obama
 5   2008-06-08       10  obama
 6   2008-06-15        8  obama
 7   2008-06-22        8  obama
 8   2008-06-29        7  obama
 9   2008-07-06        8  obama
 10  2008-07-13        9  obama
 11  2008-07-20        9  obama
 12  2008-07-27        9  obama
 13  2008-08-03        9  obama
 14  2008-08-10        8  obama
 15  2008-08-17       16  obama
 16  2008-08-24       27  obama
 17  2008-08-31       24  obama
 18  2008-09-07       21  obama
 19  2008-09-14       19  obama
 20  2008-09-21       21  obama
 21  2008-09-28       21  obama
 22  2008-10-05       29  obama
 23  2008-10-12       32  obama
 24  2008-10-19       36  obama
 25  2008-10-26       52  obama
 26  2008-11-02      100  obama
 27  2008-11-09       28  obama
 28  2008-11-16       17  obama
 29  2008-11-23       11  obama
 30  2008-11-30       11  obama
 31  2008-12-07       10  obama
 32  2008-12-14        8  obama
 33  2008-12-21        9  obama
 34  2008-12-28        8  obama
 35  2009-01-04       11  obama
 36  2009-01-11       15  obama
 37  2009-01-18       56  obama
 38  2009-01-25       19  obama
 39  2009-02-01       14  obama
 40  2009-02-08       12  obama
 41  2009-02-15       12  obama
 42  2009-02-22       14  obama
 43  2009-03-01       10  obama
 44  2009-03-08        9  obama
 45  2009-03-15       12  obama
 46  2009-03-22       10  obama
 47  2009-03-29        9  obama
 48  2009-04-05        9  obama
 49  2009-04-12        8  obama
 50  2009-04-19        7  obama
 51  2009-04-26        8  obama,
           Week  rel_val    topic
 0   2014-01-05        0  kremlin
 1   2014-01-12        0  kremlin
 2   2014-01-19       31  kremlin
 3   2014-01-26        0  kremlin
 4   2014-02-02        0  kremlin
 5   2014-02-09        0  kremlin
 6   2014-02-16       31  kremlin
 7   2014-02-23       30  kremlin
 8   2014-03-02       45  kremlin
 9   2014-03-09       62  kremlin
 10  2014-03-16       62  kremlin
 11  2014-03-23        0  kremlin
 12  2014-03-30       46  kremlin
 13  2014-04-06        0  kremlin
 14  2014-04-13       31  kremlin
 15  2014-04-20       47  kremlin
 16  2014-04-27        0  kremlin
 17  2014-05-04        0  kremlin
 18  2014-05-11        0  kremlin
 19  2014-05-18       35  kremlin
 20  2014-05-25        0  kremlin
 21  2014-06-01        0  kremlin
 22  2014-06-08       37  kremlin
 23  2014-06-15        0  kremlin
 24  2014-06-22        0  kremlin
 25  2014-06-29       59  kremlin
 26  2014-07-06       37  kremlin
 27  2014-07-13       37  kremlin
 28  2014-07-20        0  kremlin
 29  2014-07-27       55  kremlin
 30  2014-08-03       51  kremlin
 31  2014-08-10        0  kremlin
 32  2014-08-17       36  kremlin
 33  2014-08-24        0  kremlin
 34  2014-08-31        0  kremlin
 35  2014-09-07       34  kremlin
 36  2014-09-14       34  kremlin
 37  2014-09-21       35  kremlin
 38  2014-09-28       34  kremlin
 39  2014-10-05        0  kremlin
 40  2014-10-12       34  kremlin
 41  2014-10-19       34  kremlin
 42  2014-10-26       34  kremlin
 43  2014-11-02       50  kremlin
 44  2014-11-09       33  kremlin
 45  2014-11-16       56  kremlin
 46  2014-11-23        0  kremlin
 47  2014-11-30       32  kremlin
 48  2014-12-07      100  kremlin
 49  2014-12-14       59  kremlin
 50  2014-12-21       67  kremlin
 51  2014-12-28       76  kremlin,
           Week rel_val  topic
 0   2014-04-06       1  ebola
 1   2014-04-13       1  ebola
 2   2014-04-20       1  ebola
 3   2014-04-27      <1  ebola
 4   2014-05-04      <1  ebola
 5   2014-05-11      <1  ebola
 6   2014-05-18      <1  ebola
 7   2014-05-25      <1  ebola
 8   2014-06-01      <1  ebola
 9   2014-06-08      <1  ebola
 10  2014-06-15      <1  ebola
 11  2014-06-22       1  ebola
 12  2014-06-29       1  ebola
 13  2014-07-06      <1  ebola
 14  2014-07-13      <1  ebola
 15  2014-07-20       1  ebola
 16  2014-07-27      23  ebola
 17  2014-08-03      28  ebola
 18  2014-08-10       8  ebola
 19  2014-08-17       8  ebola
 20  2014-08-24       4  ebola
 21  2014-08-31       5  ebola
 22  2014-09-07       4  ebola
 23  2014-09-14       5  ebola
 24  2014-09-21       5  ebola
 25  2014-09-28      56  ebola
 26  2014-10-05      63  ebola
 27  2014-10-12     100  ebola
 28  2014-10-19      46  ebola
 29  2014-10-26      25  ebola
 30  2014-11-02      12  ebola
 31  2014-11-09       8  ebola
 32  2014-11-16       7  ebola
 33  2014-11-23       4  ebola
 34  2014-11-30       4  ebola
 35  2014-12-07       3  ebola
 36  2014-12-14       3  ebola
 37  2014-12-21       2  ebola
 38  2014-12-28       2  ebola
 39  2015-01-04       2  ebola
 40  2015-01-11       2  ebola
 41  2015-01-18       2  ebola
 42  2015-01-25       2  ebola
 43  2015-02-01       2  ebola
 44  2015-02-08       1  ebola
 45  2015-02-15       1  ebola
 46  2015-02-22       1  ebola
 47  2015-03-01       1  ebola
 48  2015-03-08       1  ebola
 49  2015-03-15       1  ebola
 50  2015-03-22       1  ebola
 51  2015-03-29       1  ebola,
           Week rel_val   topic
 0   2019-09-01      <1  corona
 1   2019-09-08      <1  corona
 2   2019-09-15      <1  corona
 3   2019-09-22      <1  corona
 4   2019-09-29      <1  corona
 5   2019-10-06      <1  corona
 6   2019-10-13      <1  corona
 7   2019-10-20      <1  corona
 8   2019-10-27      <1  corona
 9   2019-11-03      <1  corona
 10  2019-11-10      <1  corona
 11  2019-11-17      <1  corona
 12  2019-11-24      <1  corona
 13  2019-12-01      <1  corona
 14  2019-12-08      <1  corona
 15  2019-12-15      <1  corona
 16  2019-12-22      <1  corona
 17  2019-12-29      <1  corona
 18  2020-01-05      <1  corona
 19  2020-01-12      <1  corona
 20  2020-01-19       4  corona
 21  2020-01-26      13  corona
 22  2020-02-02       8  corona
 23  2020-02-09       6  corona
 24  2020-02-16       4  corona
 25  2020-02-23      17  corona
 26  2020-03-01      32  corona
 27  2020-03-08      77  corona
 28  2020-03-15     100  corona
 29  2020-03-22      75  corona
 30  2020-03-29      59  corona
 31  2020-04-05      56  corona
 32  2020-04-12      44  corona
 33  2020-04-19      35  corona
 34  2020-04-26      20  corona
 35  2020-05-03      18  corona
 36  2020-05-10      16  corona
 37  2020-05-17      13  corona
 38  2020-05-24      11  corona
 39  2020-05-31       8  corona
 40  2020-06-07       9  corona
 41  2020-06-14      10  corona
 42  2020-06-21      11  corona
 43  2020-06-28      13  corona
 44  2020-07-05      12  corona
 45  2020-07-12      12  corona
 46  2020-07-19       9  corona
 47  2020-07-26       8  corona
 48  2020-08-02       7  corona
 49  2020-08-09       6  corona
 50  2020-08-16       5  corona
 51  2020-08-23       5  corona
 52  2020-08-30       4  corona,
            Week  rel_val        topic
 0    2010-01-10        0  arab_spring
 1    2010-01-17        0  arab_spring
 2    2010-01-24        2  arab_spring
 3    2010-01-31        0  arab_spring
 4    2010-02-07        0  arab_spring
 ..          ...      ...          ...
 98   2011-11-27       81  arab_spring
 99   2011-12-04       78  arab_spring
 100  2011-12-11       86  arab_spring
 101  2011-12-18       66  arab_spring
 102  2011-12-25       55  arab_spring

 [103 rows x 3 columns],
           Week  rel_val   topic
 0   2013-01-06        0  boston
 1   2013-01-13        0  boston
 2   2013-01-20        0  boston
 3   2013-01-27        0  boston
 4   2013-02-03        0  boston
 5   2013-02-10        0  boston
 6   2013-02-17        0  boston
 7   2013-02-24        0  boston
 8   2013-03-03        0  boston
 9   2013-03-10        0  boston
 10  2013-03-17        0  boston
 11  2013-03-24        0  boston
 12  2013-03-31        0  boston
 13  2013-04-07        0  boston
 14  2013-04-14      100  boston
 15  2013-04-21       22  boston
 16  2013-04-28        6  boston
 17  2013-05-05        5  boston
 18  2013-05-12        2  boston
 19  2013-05-19        1  boston
 20  2013-05-26        2  boston
 21  2013-06-02        1  boston
 22  2013-06-09        1  boston
 23  2013-06-16        1  boston
 24  2013-06-23        1  boston
 25  2013-06-30        1  boston
 26  2013-07-07        1  boston
 27  2013-07-14        1  boston
 28  2013-07-21        0  boston
 29  2013-07-28        0  boston
 30  2013-08-04        0  boston
 31  2013-08-11        0  boston
 32  2013-08-18        1  boston
 33  2013-08-25        1  boston
 34  2013-09-01        1  boston
 35  2013-09-08        1  boston
 36  2013-09-15        1  boston
 37  2013-09-22        1  boston
 38  2013-09-29        1  boston
 39  2013-10-06        0  boston
 40  2013-10-13        1  boston
 41  2013-10-20        1  boston
 42  2013-10-27        0  boston
 43  2013-11-03        1  boston
 44  2013-11-10        0  boston
 45  2013-11-17        0  boston
 46  2013-11-24        0  boston
 47  2013-12-01        1  boston
 48  2013-12-08        0  boston
 49  2013-12-15        0  boston
 50  2013-12-22        0  boston
 51  2013-12-29        0  boston,
           Week  rel_val    topic
 0   2008-01-06        1  fcrisis
 1   2008-01-13        1  fcrisis
 2   2008-01-20        4  fcrisis
 3   2008-01-27        2  fcrisis
 4   2008-02-03        2  fcrisis
 5   2008-02-10        3  fcrisis
 6   2008-02-17        3  fcrisis
 7   2008-02-24        1  fcrisis
 8   2008-03-02        1  fcrisis
 9   2008-03-09        3  fcrisis
 10  2008-03-16        5  fcrisis
 11  2008-03-23        5  fcrisis
 12  2008-03-30        4  fcrisis
 13  2008-04-06        4  fcrisis
 14  2008-04-13        5  fcrisis
 15  2008-04-20        5  fcrisis
 16  2008-04-27        3  fcrisis
 17  2008-05-04        3  fcrisis
 18  2008-05-11        3  fcrisis
 19  2008-05-18        1  fcrisis
 20  2008-05-25        2  fcrisis
 21  2008-06-01        2  fcrisis
 22  2008-06-08        2  fcrisis
 23  2008-06-15        1  fcrisis
 24  2008-06-22        1  fcrisis
 25  2008-06-29        2  fcrisis
 26  2008-07-06        2  fcrisis
 27  2008-07-13        4  fcrisis
 28  2008-07-20        2  fcrisis
 29  2008-07-27        2  fcrisis
 30  2008-08-03        2  fcrisis
 31  2008-08-10        2  fcrisis
 32  2008-08-17        2  fcrisis
 33  2008-08-24        3  fcrisis
 34  2008-08-31        3  fcrisis
 35  2008-09-07        4  fcrisis
 36  2008-09-14       45  fcrisis
 37  2008-09-21       80  fcrisis
 38  2008-09-28      100  fcrisis
 39  2008-10-05       95  fcrisis
 40  2008-10-12       59  fcrisis
 41  2008-10-19       47  fcrisis
 42  2008-10-26       41  fcrisis
 43  2008-11-02       30  fcrisis
 44  2008-11-09       36  fcrisis
 45  2008-11-16       36  fcrisis
 46  2008-11-23       35  fcrisis
 47  2008-11-30       34  fcrisis
 48  2008-12-07       24  fcrisis
 49  2008-12-14       19  fcrisis
 50  2008-12-21       15  fcrisis
 51  2008-12-28       12  fcrisis]

In [13]:
# assign datetime col to all dfs
for df in googledfs:
    df['week_dt'] = pd.to_datetime(df['Week'])

In [14]:
# confirm
corona.head(1)

         Week rel_val   topic    week_dt
0  2019-09-01      <1  corona 2019-09-01

In [15]:
# concat all dfs to "alldfs"
alldfs = pd.concat(googledfs).drop(columns='Week')

In [16]:
# assign cols "year","month","week_of_year"
alldfs['year'] = alldfs['week_dt'].dt.year.astype(str)
alldfs['month'] = alldfs['week_dt'].dt.month.astype(str)
alldfs['week_of_year'] = alldfs['week_dt'].dt.weekofyear

<ipython-input-16-300f796a80b8>:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  alldfs['week_of_year'] = alldfs['week_dt'].dt.weekofyear

In [17]:
#review
alldfs.head()

  rel_val  topic    week_dt  year month  week_of_year
0      14  trump 2016-05-01  2016     5            17
1       9  trump 2016-05-08  2016     5            18
2       8  trump 2016-05-15  2016     5            19
3       8  trump 2016-05-22  2016     5            20
4       8  trump 2016-05-29  2016     5            21

In [18]:
# assign "week_id" col
alldfs['week_id'] = alldfs['year'] + "-" + alldfs['week_of_year'].astype(str)

In [19]:
# confirm
alldfs.head()

  rel_val  topic    week_dt  year month  week_of_year  week_id
0      14  trump 2016-05-01  2016     5            17  2016-17
1       9  trump 2016-05-08  2016     5            18  2016-18
2       8  trump 2016-05-15  2016     5            19  2016-19
3       8  trump 2016-05-22  2016     5            20  2016-20
4       8  trump 2016-05-29  2016     5            21  2016-21

In [29]:
# changing <1 values in column rel val to 0.5 , changing to numeric dtype
alldfs['rel_val'] = np.where(alldfs['rel_val'] == '<1', 0.5 , alldfs['rel_val'])
alldfs['rel_val'] = pd.to_numeric(alldfs['rel_val'])
alldfs.dtypes

/Users/ulrikeanklam/opt/anaconda3/envs/matrix/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)

rel_val                float64
topic                   object
week_dt         datetime64[ns]
year                    object
month                   object
week_of_year             int64
week_id                 object
dtype: object

In [30]:
# export to csv, set to comment after export:
#alldfs.to_csv("../Data/Datasets/googletopics_weekid_v3.csv")